*:focus {
	outline: #343a40 !important;
	spell
}
.card-body {
	background-color: #FFFFC3;
	border: 1px solid gray;
	box-shadow: 1px 1px 10px gray;
	min-height: 200px;
}
.card-text {
	font-family: 'Indie Flower', cursive;
}
.card-text:hover {
	color: gray;
}
@media (max-width: 980px) {
	.card-columns {
		column-count: 1;
	}
	.navbar {
		height: 250px;
	}
	.btn {
		height: 100px;
	}
	.navbar-brand {
		font-size: 50px;
	}
	.card-title {
		font-size: 50px;
	}
	.card-text {
		font-size: 25px;
	}
}
@media (max-width: 720px) {
	.navbar {
		height: 350px;
	}
	.btn {
		margin-top: 5px;
	}
}